<footer class="footer">
    <div class="footer-main">
        <div class="logo">
            <img src="{{ theme.uri }}/dist/img/totoro.jpg">
        </div>
        <ul class="social-list">
            <li class="social-item">
                {% include '/dist/img/facebook.svg.twig' %}
            </li>
            <li class="social-item">
                {% include '/dist/img/twitter.svg.twig' %}
            </li>
        </ul>
    </div>
    <div class="footer-legal">
        © Studio Ghibli, all rights reserved
    </div>
</footer>

{{wp_footer}}
</body>
</html>
