{% include '/partials/head.twig' %}
<body class="{{ body_class }}">

<header class="main-header">
	{% if mainMenu %}
	<nav class="menu">
		{% for link in mainMenu.get_items %}
		<a class="{{link.classes | join(' ')}}" href="{{ link.url }}">
			{{ link }}
		</a>
		{% endfor %}
	</nav>
	{% endif %}
</header>
