# Application
web/app/plugins/*
!web/app/plugins/.gitkeep
web/app/mu-plugins/*/
web/app/upgrade
!web/app/uploads/.gitkeep
web/app/uploads/*

deploy.yaml
web/app/themes/index/dist/*

# WordPress
web/wp
web/.htaccess

node_modules/
# Dotenv
.env
.env.*
!.env.example

# Composer
vendor/*
!vendor/.gitkeep
.DS_Store
.idea

# Editor
**/.vscode/**

