*.log
.DS_Store
.idea

# Config
web/.htaccess
.env

# Application
web/app/plugins/*
!web/app/plugins/.gitkeep
web/app/mu-plugins/*/
web/app/upgrade

# WordPress
web/wp

# Build folder
wp-content/themes/ghibli/dist/

# Composer
vendor/*
!vendor/.gitkeep
composer.lock

# Gulp
node_modules
web/app/themes/index/dist/*
!web/app/themes/index/dist/.gitkeep

web/app/themes/index/.vscode/*
