*.log
.DS_Store
.idea

# Application
web/app/plugins/*
!web/app/plugins/.gitkeep
web/app/mu-plugins/*/
web/app/upgrade
web/app/uploads/*
!web/app/uploads/.gitkeep

# WordPress
web/wp

# Composer
vendor/*
!vendor/.gitkeep
composer.lock

# Gulp
node_modules
web/app/themes/index/dist/*
!web/app/themes/index/dist/.gitkeep
web/.htaccess
.env
