.famous-articles
  padding 3em site-margin 4em
  background-color beige

.articles-grid
  display flex
  flex-wrap wrap
  justify-content space-evenly

.shop
  margin 4em site-margin

  .articles-grid
    margin 0 -2em
    width auto

  .article
    margin 2em
