.famous-articles
  padding 3em site-margin 4em
  background-color beige

.articles-grid
  display grid
  grid-template-columns repeat(5, 1fr)
  grid-gap 3em 2em

  +max(large)
    grid-template-columns repeat(3, 1fr)

  +max(medium)
    grid-template-columns repeat(2, 1fr)

  +max(530px)
    grid-template-columns 1fr

.shop
  margin 4em site-margin
