.article
  position relative
  box-shadow 0 0 9px 0px rgba(0,0,0,0.21)
  display flex
  justify-content space-between
  flex-direction column

  &.has-promo::after
    content ''
    position absolute
    top 0
    right 0
    border 0 solid transparent
    border-left-width 2em
    border-top 2em solid green

  .article-image
    width 100%

  .article-description
    display flex
    flex-direction column
    padding 1em
    background-color white

    > *
      display inline

  .article-type
    text-transform uppercase

  .article-name
    font-family secondary-font
    font-weight bold

  .article-price
    margin-top 0.7em
    align-self flex-end
