.menu
  margin 1.8em 0
  display flex
  justify-content center
  color menu-color
  font-size 1rem
  text-transform uppercase

  .footer &
    font-size 15px
    color dark

  .menu-item
    color inherit
    text-decoration none
    padding 0 2em

    .footer &
      padding 0 2.5em
      letter-spacing 1.1px

    .main-header &
      &:not(:last-child)
        border-right solid 1px #cbcbcb

      &.current_page_item,
      &:hover
        font-weight 900

