.movie-title
  font-family secondary-font
  font-size 2.5rem
  letter-spacing 0.4px
  color green
  margin 0 0 0.5em 0

.movie-year
  font-size 1.125rem
  font-weight bold
  color dark-text

.movie-category
  font-size 20px
  font-style italic
  line-height 2.45
  letter-spacing 0.3px
  text-align center
  color #9a9a9a
  text-transform capitalize

.movie-excerpt
  font-size 1rem
  line-height 1.5
  letter-spacing 1px
  max-width 50%
  color p-text

  +max(small)
    max-width 100%

.movie-poster-wrapper
  position relative
  text-align center
  margin 4em 0

  &::after
    content ''
    position absolute
    top 50%
    left 0
    width 100%
    height 100%
    background beige
    z-index -1

.movie-image-wrapper
  margin-top 4em
  margin-bottom 7em
  position relative

  +max(small)
    margin-bottom 3em
    margin-top 1.5em

  +min(small)
    .movie-image-container
      overflow hidden
      max-height 60vh
      width 100vw - site-margin

.movie-cta
  background light-green
  transition transform 0.3s ease-in-out

  &:hover
    transform translateX(10px)

  &.btn-scale:hover
    transform translateX(10px) translateY(50%)

