.pagination
  display flex
  align-items center
  justify-content center
  margin 3em 0

  .pagination-list
    display flex
    align-items center
    list-style none
    margin 0 2em
    padding 0

  .pagination-number
    font-size 20px
    font-weight bold
    letter-spacing 0.3px
    color #373737
    padding 0.3em 0.5em 0.15em
    margin 0.5em
    display block

    &.current
      color white
      background-color light-green

  .pagination-left,
  .pagination-right
    svg
      width 21px
      fill light-green

  .pagination-left svg
    transform rotate(180deg)
