.quote
  background-color beige
  padding 4em site-margin

.quote-text
  color bold-text
  font-size 2.75rem
  font-weight 900
  line-height 1.48
  letter-spacing -0.3px
  margin 0
  max-width 867px
  margin 0 auto

.quote-author
  color green
  font-weight 700
  font-size 1.75rem
  letter-spacing 3.3px
  display block
  text-align right
