.quote
  background-color beige
  padding 4em site-margin

  &.anim
    @extends $fadeAnim

  &.fade
    opacity 1
    transform translateY(0px)

  +max(small)
    display flex
    flex-direction column
    text-align center
    padding 3em site-margin

    svg
      margin auto

.quote-text
  color bold-text
  font-size 2rem
  font-weight 900
  line-height 1.48
  letter-spacing -0.3px
  margin 0
  max-width 867px
  margin 0 auto

  +max(small)
    margin 1em 0

.quote-author
  color green
  font-weight 700
  font-size 1.325rem
  letter-spacing 3.3px
  display block
  text-align right
