.page-hero
  padding 6em site-margin

  &.dark
    background #1c1b1b

.page-title
  font-family secondary-font
  font-size 75px
  font-weight 300
  letter-spacing 1px
  color #3f3f3f

.page-subtitle
  font-size 20px

.page-title,
.page-subtitle
  color #3f3f3f
  letter-spacing 1px

  .dark &
    color #eaeaea

.arrow svg
  height 15px
  fill #1e201d;
  transform rotate(90deg)

  .dark &
    fill #fff
