.about
  display flex
  align-items center
  background-color #1c1b1b
  position relative

.about-image
  max-width 30%

  img
    width 100%

.about-text
  padding 0 13vw

.about-title
  font-size 30px
  line-height 1.5
  color #eaeaea
  font-weight normal

.about-paragraph
  font-size 20px
  line-height 1.75
  color #d1d1d1

.about-cta
  right site-margin
  background-color blue-sky
