.main-header
  .menu .page_item
    &:not(:last-child) a
      border-right solid 1px #cbcbcb

    &.current_page_item
      font-weight 900

    > a
      display block
      padding 0 2em
      position relative

    &:hover:not(.current_page_item)
      font-weight 900
      padding 1.7em 0
