.hero
  display flex
  flex-direction column
  align-items center
  padding 8em 0
  background-size cover
  background-color rgba(0, 0, 0, 0.3)
  background-blend-mode color

.hero-image
  max-width 100%
