/* Helpers */
@import 'helpers/placeholder'
@import 'helpers/media-queries'

/* Base */
@import 'base/variables'
@import 'base/normalize'
@import 'base/fonts'
@import 'base/base'

/* Components */
@import 'components/section'
@import 'components/buttons'
@import 'components/menu'
@import 'components/quote'
@import 'components/movie'
@import 'components/article'
@import 'components/gallery'
@import 'components/titles'

/* Layout */
@import 'layout/footer'
@import 'layout/hero'
@import 'layout/famous'
@import 'layout/recent'
@import 'layout/studio'
@import 'layout/topic'

/* Page */
@import 'pages/shop'
@import 'pages/about'
@import 'pages/single-movie'
