.famous-movies
  padding 5em site-margin 7.2em

  +max(small)
    padding 3em 0 0

  .movies-grid
    display flex
    flex-wrap wrap

    &.anim
      @extends $fadeAnim
      transition-delay 0.3s

    &.fade
      opacity 1
      transform translateY(0px)

  .movie-item
    display flex
    color white
    width 50%
    position relative
    z-index 0
    box-sizing border-box
    background-repeat no-repeat
    background-size cover
    background-position center

    +max(small)
      width 100%
      margin 0.5em 0

      &:last-child
        margin-bottom 0

    +min(small)
      &:first-child
        width 100%

        .movie-content
          width 39%
          padding-bottom 5em

      &:not(:first-child)
        .movie-cta
          display none

  .movie-content
    background-color rgba(green, 0.87)
    width 100%
    padding 2.5em 8em 2.5em 2.5em
    position relative

    +max(small)
      padding 2em 2em 4em

  .movie-item-title
    font-size 1.75rem
    font-weight bold
    line-height 1.4
    letter-spacing 0.5px
    margin 0 0 1em 0

  .movie-item-text
    font-size 1rem
    line-height 1.5
    letter-spacing 1px

  .movie-cta
    position absolute
    right 0
    bottom 0
    background-color light-green
    display inline-block

    > svg
      width 20px
      fill white
      margin 1.2em 2.2em

      +max(small)
        margin 0.8em 1.2em 0.6em
