.footer
  padding 3.2em site-margin
  border-top solid 0.5px rgba(#b3b3b3, 0.5)

  .footer-main
    display flex
    justify-content space-between
    align-items center

  .logo
    max-width 73px

    > img
      width 100%

.social-list
  list-style none
  display flex
  margin 0
  padding 0

  .social-item
    &:not(:first-child)
      margin-left 1em

    svg
      height 20px

.footer-legal
  margin-top 1em
  font-size 12px
  letter-spacing 0.9px
  text-align center
  color #6b6b6b
