.hero
  display flex
  flex-direction column
  align-items center
  padding 19vh 0
  background-size cover
  background-color rgba(0, 0, 0, 0.3)
  background-blend-mode color

.hero-image
  max-width 100%

.hero-logo-wrapper
  width 50%

  +max(small)
    width 98%

.hero-logo
  width 100%

.hero-cta
  transition-delay 0.3s

  &:not(.anim)
    transition all 0.3s ease-in-out 0s

  +max(small)
    padding 1em 1.2em
    text-align center
