.hero
  display flex
  flex-direction column
  align-items center
  padding 19vh 0
  background-size cover
  background-color rgba(0, 0, 0, 0.3)
  background-blend-mode color

.hero-image
  max-width 100%

.hero-logo-wrapper
  width 50%

  +max(small)
    width 98%

.hero-logo
  width 100%
  opacity 0
  transition all 0.6s ease-in-out
  transform translateY(10px)

  &.fade
    opacity 1
    transform translateY(0px)

.hero-cta
  opacity 0
  transition all 0.6s ease-in-out 0.3s
  transform translateY(10px)

  +max(small)
    padding 1em 1.2em
    text-align center

  &.fade
    opacity 1
    transform translateY(0px)
