<div class="topic-media founders">
    <h3 class="topic-subtitle">Découvrir les fondateurs</h3>
    <div class="founder anim">
        <div class="founder-image"></div>
        <div class="founder-legend">
            <hr class="stroke">
            <span class="founder-name">Isao Takahata</span>
            <span class="founder-role">Réalisateur</span>
        </div>
    </div>
    <div class="founder anim">
        <div class="founder-image"></div>
        <div class="founder-legend">
            <hr class="stroke">
            <span class="founder-name">Isao Takahata</span>
            <span class="founder-role">Réalisateur</span>
        </div>
    </div>
</div>
