<section class="famous-movies">
	<hr class="section-stroke anim">
	<h2 class="section-title anim">Œuvres populaires</h2>
	<div class="movies-grid anim">
		{% for movie in famous_movies %}
		<div class="movie-item" style="background-image: url('{{ movie.thumbnail.src }}')">
			<div class="movie-content">
				<h3 class="movie-item-title">{{ movie.post_title }}</h3>
				<p class="movie-item-text">{{ movie.post_excerpt }}</p>
				<a href="{{ movie.link }}" class="movie-cta">
					{% include '/dist/img/right-arrow.svg.twig' %}
				</a>
			</div>
		</div>
		{% endfor %}
	</div>
</section>
