<section class="famous-movies">
  <hr class="section-stroke">
  <h2 class="section-title">Œuvres populaires</h2>
  <div class="movies-grid">
    <div class="movie-item" style="background-image: url('{{ theme.uri }}/dist/img/chichiro-bg.jpg')">
      <div class="movie-content">
        <h3 class="movie-item-title">Le voyage de Chichiro</h3>
        <p class="movie-item-text">
          Chihiro, une fillette de dix ans, alors qu'elle se rend en famille dans sa nouvelle maison, entre dans le monde des esprits.
        </p>
        <a href="#" class="movie-cta">
            {% include '/dist/img/right-arrow.svg.twig' %}
        </a>
      </div>
    </div>
    <div class="movie-item" style="background-image: url('{{ theme.uri }}/dist/img/chichiro-bg.jpg')">
      <div class="movie-content">
        <h3 class="movie-item-title">Le voyage de Chichiro</h3>
        <p class="movie-item-text">
          Chihiro, une fillette de dix ans, alors qu'elle se rend en famille dans sa nouvelle maison, entre dans le monde des esprits.
        </p>
      </div>
    </div>
    <div class="movie-item" style="background-image: url('{{ theme.uri }}/dist/img/chichiro-bg.jpg')">
      <div class="movie-content">
        <h3 class="movie-item-title">Le voyage de Chichiro</h3>
        <p class="movie-item-text">
          Chihiro, une fillette de dix ans, alors qu'elle se rend en famille dans sa nouvelle maison, entre dans le monde des esprits.
        </p>
      </div>
    </div>
  </div>
</section>