<div class="movie-card">
  <img class="card-cover" src="{{ theme.link }}/dist/img/miyasaki.jpeg" alt="">
  <div class="card-text">
    <h4 class="card-title">Mon voisin Totoro</h4>
    <span class="card-genre">Aventure</span>
    <span class="card-year">1988</span>
  </div>
</div>
