<section class="pagination">
  <a class="pagination-left" href="">{% include '/dist/img/right-arrow.svg' %}</a>
  <ul class="pagination-list">
    <li><a class="pagination-number current" href="">1</a></li>
    <li><a class="pagination-number" href="">2</a></li>
    <li><a class="pagination-number" href="">3</a></li>
  </ul>
  <a class="pagination-right" href="">{% include '/dist/img/right-arrow.svg' %}</a>
</section>
