<article class="article has-promo">
    <img class="article-image" src="{{ product.thumbnail.src }}" alt="">
    <div class="article-description">
        <span class="article-type">{{ product.custom.type }}</span>
        <span class="article-name">{{ product.post_title }}</span>
        <span class="article-price">{{ product.custom.price }}</span>
    </div>
</article>