{% set containerClass = 'archive-film' %}
{% extends "base.twig" %}

{% block content %}

<div class="page-hero dark">
	<h1 class="page-title">{{ post.post_title }}</h1>
  <span class="page-subtitle">Découvrez dans cette section les longs métrages produits et réalisés au sein du studio Ghibli.</span>
	<span class="arrow">{% include '/dist/img/right-arrow.svg.twig' %}</span>
</div>

{% include './includes/search.twig' %}

<section class="cards-container">
    {% for film in films %}
        {% include './includes/movie_card.twig' %}
    {% endfor %}
</section>

{% include './includes/pagination.twig' %}

{% endblock %}
