<div class="video-container">
	Ici réside la vidéo de movie
</div>
<section class="movie-bio">
	<span class="movie-year">2016</span>
	<h2 class="movie-title">La tortue rouge</h2>
	<span class="movie-type">Fantasy, Cartoon</span>
	<p class="movie-excerpt">
		À travers l'histoire d'un naufragé sur une île déserte tropicale peuplée de tortues, de crabes et d'oiseaux, La tortue rouge raconte les grandes étapes de la vie d'un être humain.
	</p>
</section>
<div class="movie-poster-wrapper">
	<img src="<?= THEME_URL . '/dist/img/cover.png'; ?>" alt="" class="movie-poster">
</div>
<section class="summary">
	<h3 class="summary-title">Résumé</h3>
	<hr class="summary-underline">
	<div class="summary-text">
		<p>
			Un naufragé se trouve dans l'eau, seul, au milieu de l'océan démonté. Il s'échoue sur une plage à proximité d'une forêt de bambous. L'homme se nourrit et explore la région : il monte au sommet d'une éminence rocheuse et s'aperçoit qu'il se trouve sur une île déserte peuplée d'une faune et d'une flore foisonnantes. Il est très vite remarqué par de petits crabes blancs qui le suivent et l'observent chaque fois qu'il vient sur la plage. À un moment donné, alors qu'il explore la partie rocheuse de la côte, il tombe dans un trou entouré de hauts rochers infranchissables. Il parvient finalement à s'en échapper en passant par un siphon sous-marin qu'il franchit en apnée à grand-peine. L'homme rassemble quelques troncs de bambous tombés sur le sol de la forêt. La nuit venue, il dort sur la plage et rêve qu'il avance en planant sur un gigantesque pont de bambous qui s'étire sans fin par-dessus la mer et lui permet de quitter l'île.
		</p>
		<p>
			Le long métrage La tortue rouge fut une sorte d’arlésienne dans le milieu du cinéma d’animation international. Né, pensait-on, sous l’impulsion de Hayao Miyazaki à la fin des années 2000 (on commence discrètement à entendre parler du projet dès 2009), le film est réalisé par le néerlandais Michaël Dudok de Wit (Le moine et le poisson, Père et fille) dont c’est le premier long métrage. Ce projet marque aussi la toute première coproduction étrangère du studio Ghibli, notamment avec la France.
		</p>
	</div>
	<div class="movie-author">
		<div class="movie-author-picture" style="background-image: url('<?= THEME_URL . '/dist/img/doge.jpg'; ?>')"></div>
		<div class="movie-author-text">
			<span class="movie-author-name">Michaël Dudok de Wit</span>
			<span class="movie-author-role">Scénariste</span>
		</div>
	</div>
</section>

<section class="gallery">
	<div class="gallery-picture"></div>
	<div class="gallery-picture"></div>
	<div class="gallery-picture"></div>
</section>

<section class="people">
	<h3 class="summary-title">Fiche technique</h3>
	<hr class="summary-underline">
	<div class="people-grid">
		<div class="people-item">
			<span class="people-role">Scénario</span>
			<span class="people-name">Michaël Dudok de Wit</span>
		</div>
		<div class="people-item">
			<span class="people-role">Scénario</span>
			<span class="people-name">Michaël Dudok de Wit</span>
		</div>
		<div class="people-item">
			<span class="people-role">Scénario</span>
			<span class="people-name">Michaël Dudok de Wit</span>
		</div>
		<div class="people-item">
			<span class="people-role">Scénario</span>
			<span class="people-name">Michaël Dudok de Wit</span>
		</div>
		<div class="people-item">
			<span class="people-role">Scénario</span>
			<span class="people-name">Michaël Dudok de Wit</span>
		</div>
		<div class="people-item">
			<span class="people-role">Scénario</span>
			<span class="people-name">Michaël Dudok de Wit</span>
		</div>
		<div class="people-item">
			<span class="people-role">Scénario</span>
			<span class="people-name">Michaël Dudok de Wit</span>
		</div>
	</div>
</section>
