{% set containerClass = 'archive-shop' %}
{% extends "base.twig" %}

{% block content %}

<section class="famous-articles">
	<hr class="section-stroke">
	<h2 class="section-title">Articles populaires</h2>
	<div class="articles-grid">
        {% for product in products %}
            {% include './includes/famous_products.twig' %}
        {% endfor %}
	</div>
</section>

<section class="shop">
	<hr class="section-stroke">
	<h2 class="section-title">Boutique</h2>
	<div class="articles-grid">
        {% for product in products %}
            {% include './includes/product_card.twig' %}
        {% endfor %}
	</div>
</section>

{% include './includes/pagination.twig' %}

{% endblock %}
