.movie-title
  font-family secondary-font
  font-size 55px
  letter-spacing 0.4px
  color greenish
  margin 0 0 0.5em 0

.movie-year
  font-size: 30px;
  font-weight: bold;
  color: #2e2e2e;

.movie-excerpt
  font-size: 20px;
  line-height: 1.5;
  letter-spacing: 1px;
  max-width 50%
  color: #626262;

.movie-image
  margin-top 4em
  margin-bottom 7em
  position relative

.movie-cta
  background cta-color

