primary-font = 'CamphorPro'
secondary-font = 'TisaOT'

p-fontsize = 1.25rem

cta-color = #71cf7c
green = #44a95b
blue-sky = #0494c0
black = #2e2e2e
dark = #525252
dark-grey = #626262
dark-white = #f8f8f8

menu-color = #3b3B3b

site-margin = 10vw
