primary-font = 'CamphorPro'
secondary-font = 'TisaOT'

p-fontsize = 1.25rem

text-mobile = 1rem

site-margin = 10vw
mobile-site-margin = 8vw

/* COLORS */

beige = #f8f8f8

green = #44a95b
light-green = #71cf7c
blue = #0494c0
dark-bg = #1c1b1b
dark-grey = #626262

bold-text = lighten(#000, 32%) // 525252
p-text = lighten(#000, 38%) // 626262
dark-text = lighten(#000, 18%) // 2e2e2e


menu-color = #3b3B3b
